# Introduction to Virtual Machines
    ## Intro to Linux/Ubuntu

# Introduction to Conda
    ## Explain the importance of Conda in managing packages and environments in data science and programming.
    ## Intro to Conda Virtual Environments
    ## Activating and deactivating environments.
    ## Intro to Packages to be used in this lesson

# Introduction to Jupyter Notebooks
    ## Brief history and significance of Jupyter.
    ## Advantages of using Jupyter Notebooks
    ## Launching Jupyter Notebook from the command line.
    ## Overview of Jupyter's components: Notebook, Kernel, and Dashboard.
    ## Creating a new notebook.
    ## Understanding the notebook interface.
    ## Cell types: code, markdown, and raw.
    ## Executing code cells and editing text cells.
    ## Jupyter Notebook's Checkpoints

# Introduction to Python
    ## Python Basics
        ### Intro to Python history and significance
        ### Print "Hello World!"
    ## Variables and Data Types
        ### Introduction to variables and their naming conventions.
        ### Common data types: int, float, string, and bool.
        ### Variable assignment and reassignment.
    ## Operators
        ### Arithmetic operators
        ### Examples of mathematical calculations.
    
    
    ### Control Structures 1: If statements and conditional execution.
        #### Boolean expressions, comparison and logical operators.
        #### Python Indentation
    ## Overview of Pandas Filters
        ### Loading data into Pandas (CSV).
        ### Data inspection and understanding.
        ### Filtering


    
    ## Control Structures 2: Loops
        ### Lists and Data Structures
            #### Introduction to lists and their characteristics.
            #### List operations: append, remove, slice, and iterate.
            #### Brief overview of dictionaries.
        ### for loops and iterators
            #### String Iterables
            #### List Iterables
            #### Dict 
        ### while loops exist
        ### Examples and best practices for writing clean code.

    ## Overview of BioPython
        ### Introduction to sequence alignment.
        ### Pairwise sequence alignment using BioPython.
        ### Example of sequence aligment using the data extracted from the csv

In [1]:
# Code
import pandas as pd
df = pd.read_csv('/Users/ifraticelli/Documents/Projects_Visual_Studio/intro-to-programming/python_lesson/combined_tidy_vcf.csv')

# To get infor about your data
# .info() provides the essential details about your dataset, 
# such as the number of rows and columns, the number of non-null values, 
# what type of data is in each column, and how much memory your DataFrame is using.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sample_id      801 non-null    object
 1   CHROM          801 non-null    object
 2   POS            801 non-null    int64
 3   ID             0 non-null      float64
 4   REF            801 non-null    object
 5   ALT            801 non-null    object
 6   QUAL           801 non-null    float64
 7   FILTER         0 non-null      float64
 8   INDEL          801 non-null    bool
 9   IDV            101 non-null    float64
 10  IMF            101 non-null    float64
 11  DP             801 non-null    int64
 12  VDB            801 non-null    float64
 13  RPB            28 non-null     float64
 14  MQB            28 non-null     float64
 15  BQB            28 non-null     float64
 16  MQSB           753 non-null    float64
 17  SGB            801 non-null    float64
 18  MQ0F           801 non-null    float64
 19  ICB            0 non-null      float64
 20  HOB            0 non-null      float64
 21  AC             801 non-null    int64
 22  AN             801 non-null    int64
 23  DP4            801 non-null    object
 24  MQ             801 non-null    int64
 25  Indiv          801 non-null    object
 26  gt_PL          801 non-null    object
 27  gt_GT          801 non-null    int64
 28  gt_GT_alleles  801 non-null    object
dtypes: bool(1), float64(14), int64(6), object(8)
memory usage: 176.1+ KB

In [13]:
#To view your data
# First five rows
df.head()

,sample_id,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INDEL,IDV,...,ICB,HOB,AC,AN,DP4,MQ,Indiv,gt_PL,gt_GT,gt_GT_alleles
0,SRR2584863,CP000819.1,9972,NaN,T,G,91.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,0,4",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"121,0",1,G
1,SRR2584863,CP000819.1,263235,NaN,G,T,85.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,1,0,5",33,/home/dcuser/dc_workshop/results/bam/SRR258486...,"112,0",1,T
2,SRR2584863,CP000819.1,281923,NaN,G,T,217.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,4,5",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"247,0",1,T
3,SRR2584863,CP000819.1,433359,NaN,CTTTTTTT,CTTTTTTTT,64.0,NaN,True,12.0,...,NaN,NaN,1,1,"0,1,3,8",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"91,0",1,CTTTTTTTT
4,SRR2584863,CP000819.1,473901,NaN,CCGC,CCGCGC,228.0,NaN,True,9.0,...,NaN,NaN,1,1,"1,0,2,7",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"255,0",1,CCGCGC

In [14]:
# Or Select the amout of rows that you want to print out
df.head(2)

,sample_id,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INDEL,IDV,...,ICB,HOB,AC,AN,DP4,MQ,Indiv,gt_PL,gt_GT,gt_GT_alleles
0,SRR2584863,CP000819.1,9972,NaN,T,G,91.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,0,4",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"121,0",1,G
1,SRR2584863,CP000819.1,263235,NaN,G,T,85.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,1,0,5",33,/home/dcuser/dc_workshop/results/bam/SRR258486...,"112,0",1,T

In [15]:
# Last Five rows
df.tail()

,sample_id,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INDEL,IDV,...,ICB,HOB,AC,AN,DP4,MQ,Indiv,gt_PL,gt_GT,gt_GT_alleles
796,SRR2589044,CP000819.1,3481820,NaN,A,G,225.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,4,8",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"255,0",1,G
797,SRR2589044,CP000819.1,3893550,NaN,AG,AGG,101.0,NaN,True,4.0,...,NaN,NaN,1,1,"0,0,3,1",52,/home/dcuser/dc_workshop/results/bam/SRR258904...,"131,0",1,AGG
798,SRR2589044,CP000819.1,3901455,NaN,A,AC,70.0,NaN,True,3.0,...,NaN,NaN,1,1,"0,0,3,0",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"100,0",1,AC
799,SRR2589044,CP000819.1,4100183,NaN,A,G,177.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,3,5",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"207,0",1,G
800,SRR2589044,CP000819.1,4431393,NaN,TGG,T,225.0,NaN,True,10.0,...,NaN,NaN,1,1,"0,0,4,6",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"255,0",1,T

In [16]:
# Or Select the amout of rows that you want to print out
df.tail(2)

,sample_id,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INDEL,IDV,...,ICB,HOB,AC,AN,DP4,MQ,Indiv,gt_PL,gt_GT,gt_GT_alleles
799,SRR2589044,CP000819.1,4100183,NaN,A,G,177.0,NaN,False,NaN,...,NaN,NaN,1,1,"0,0,3,5",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"207,0",1,G
800,SRR2589044,CP000819.1,4431393,NaN,TGG,T,225.0,NaN,True,10.0,...,NaN,NaN,1,1,"0,0,4,6",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"255,0",1,T

In [20]:
# Display columns
df.columns

Index(['sample_id', 'CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER',
       'INDEL', 'IDV', 'IMF', 'DP', 'VDB', 'RPB', 'MQB', 'BQB', 'MQSB', 'SGB',
       'MQ0F', 'ICB', 'HOB', 'AC', 'AN', 'DP4', 'MQ', 'Indiv', 'gt_PL',
       'gt_GT', 'gt_GT_alleles'],
      dtype='object')

In [2]:
# To change to lower case the name of each column
df.columns = [col.lower() for col in df]

df.columns

Index(['sample_id', 'chrom', 'pos', 'id', 'ref', 'alt', 'qual', 'filter',
       'indel', 'idv', 'imf', 'dp', 'vdb', 'rpb', 'mqb', 'bqb', 'mqsb', 'sgb',
       'mq0f', 'icb', 'hob', 'ac', 'an', 'dp4', 'mq', 'indiv', 'gt_pl',
       'gt_gt', 'gt_gt_alleles'],
      dtype='object')

In [22]:
# Null values on the dataframe

df.isnull()

,sample_id,chrom,pos,id,ref,alt,qual,filter,indel,idv,...,icb,hob,ac,an,dp4,mq,indiv,gt_pl,gt_gt,gt_gt_alleles
0,False,False,False,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,False,False,False,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
797,False,False,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,False,False,False,False
798,False,False,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,False,False,False,False
799,False,False,False,True,False,False,False,True,False,True,...,True,True,False,False,False,False,False,False,False,False
800,False,False,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,False,False,False,False

In [23]:
# Counting the null values in a dataframe
df.isnull().sum()

sample_id          0
chrom              0
pos                0
id               801
ref                0
alt                0
qual               0
filter           801
indel              0
idv              700
imf              700
dp                 0
vdb                0
rpb              773
mqb              773
bqb              773
mqsb              48
sgb                0
mq0f               0
icb              801
hob              801
ac                 0
an                 0
dp4                0
mq                 0
indiv              0
gt_pl              0
gt_gt              0
gt_gt_alleles      0
dtype: int64

In [26]:
# Filter values

# filter the alterations column to see if there is a sequence that has more than 5 nitrogenous bases
# Grab the references 
# Create pairs of refencences and alteration

#Select the pair with more alterations
# Process it using Biopython

x = df.loc[df['alt'] > "C"]

x

      sample_id       chrom      pos  id ref alt   qual  filter  indel  idv  \
10   SRR2584863  CP000819.1  2407766 NaN   A   C  104.0     NaN  False  NaN
11   SRR2584863  CP000819.1  2446984 NaN   A   C  225.0     NaN  False  NaN
15   SRR2584863  CP000819.1  3339313 NaN   A   C  211.0     NaN  False  NaN
18   SRR2584863  CP000819.1  3488669 NaN   A   C  225.0     NaN  False  NaN
22   SRR2584863  CP000819.1  4201958 NaN   A   C  225.0     NaN  False  NaN
..          ...         ...      ...  ..  ..  ..    ...     ...    ...  ...
775  SRR2584866  CP000819.1  4498856 NaN   T   C  225.0     NaN  False  NaN
776  SRR2584866  CP000819.1  4503582 NaN   T   C  111.0     NaN  False  NaN
784  SRR2584866  CP000819.1  4603737 NaN   T   C   82.0     NaN  False  NaN
786  SRR2584866  CP000819.1  4604577 NaN   G   C  218.0     NaN  False  NaN
788  SRR2584866  CP000819.1  4616538 NaN   A   C   92.0     NaN  False  NaN

     ...  icb  hob  ac  an       dp4  mq  \
10   ...  NaN  NaN   1   1   3,0,3,2  25
11   ...  NaN  NaN   1   1  0,0,10,6  60
15   ...  NaN  NaN   1   1   0,0,4,6  60
18   ...  NaN  NaN   1   1   0,0,8,4  60
22   ...  NaN  NaN   1   1   0,0,5,4  60
..   ...  ...  ...  ..  ..       ...  ..
775  ...  NaN  NaN   1   1   0,0,8,3  60
776  ...  NaN  NaN   1   1   0,0,2,2  60
784  ...  NaN  NaN   1   1   0,0,2,3  41
786  ...  NaN  NaN   1   1   0,0,7,2  60
788  ...  NaN  NaN   1   1   0,0,4,0  60

                                                 indiv  gt_pl  gt_gt  \
10   /home/dcuser/dc_workshop/results/bam/SRR258486...  131,0      1
11   /home/dcuser/dc_workshop/results/bam/SRR258486...  255,0      1
15   /home/dcuser/dc_workshop/results/bam/SRR258486...  241,0      1
18   /home/dcuser/dc_workshop/results/bam/SRR258486...  255,0      1
22   /home/dcuser/dc_workshop/results/bam/SRR258486...  255,0      1
..                                                 ...    ...    ...
775  /home/dcuser/dc_workshop/results/bam/SRR258486...  255,0      1
776  /home/dcuser/dc_workshop/results/bam/SRR258486...  141,0      1
784  /home/dcuser/dc_workshop/results/bam/SRR258486...  112,0      1
786  /home/dcuser/dc_workshop/results/bam/SRR258486...  248,0      1
788  /home/dcuser/dc_workshop/results/bam/SRR258486...  122,0      1

     gt_gt_alleles
10               C
11               C
15               C
18               C
22               C
..             ...
775              C
776              C
784              C
786              C
788              C

[139 rows x 29 columns]

In [29]:
df['alt'].apply(len) >=5

0      False
1      False
2      False
3       True
4       True
       ...
796    False
797    False
798    False
799    False
800    False
Name: alt, Length: 801, dtype: bool

In [30]:
df.loc[df['alt'].apply(len) >= 5]

,sample_id,chrom,pos,id,ref,alt,qual,filter,indel,idv,...,icb,hob,ac,an,dp4,mq,indiv,gt_pl,gt_gt,gt_gt_alleles
3,SRR2584863,CP000819.1,433359,NaN,CTTTTTTT,CTTTTTTTT,64.0000,NaN,True,12.0,...,NaN,NaN,1,1,"0,1,3,8",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"91,0",1,CTTTTTTTT
4,SRR2584863,CP000819.1,473901,NaN,CCGC,CCGCGC,228.0000,NaN,True,9.0,...,NaN,NaN,1,1,"1,0,2,7",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"255,0",1,CCGCGC
8,SRR2584863,CP000819.1,2103887,NaN,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCC...,56.0000,NaN,True,2.0,...,NaN,NaN,1,1,"0,1,1,1",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"111,28",1,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCC...
49,SRR2584866,CP000819.1,148134,NaN,AGGGG,AGGGGG,122.0000,NaN,True,8.0,...,NaN,NaN,1,1,"0,0,3,5",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"152,0",1,AGGGGG
50,SRR2584866,CP000819.1,157998,NaN,GTTTTTTTTT,GTTTTTTTT,19.4636,NaN,True,6.0,...,NaN,NaN,1,1,"0,0,1,5",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"49,0",1,GTTTTTTTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,SRR2584866,CP000819.1,4022380,NaN,GTTTTTTTT,GTTTTTTTTT,11.1284,NaN,True,9.0,...,NaN,NaN,1,1,"2,2,3,4",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"39,1",1,GTTTTTTTTT
723,SRR2584866,CP000819.1,4038529,NaN,GTTTTTTTTT,GTTTTTTTT,15.0048,NaN,True,20.0,...,NaN,NaN,1,1,"1,6,8,6",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"42,0",1,GTTTTTTTT
753,SRR2584866,CP000819.1,4349281,NaN,ATTTTTTTT,ATTTTTTT,44.2229,NaN,True,9.0,...,NaN,NaN,1,1,"0,1,3,7",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"71,0",1,ATTTTTTT
761,SRR2584866,CP000819.1,4392683,NaN,ACCCC,ACCCCC,155.0000,NaN,True,16.0,...,NaN,NaN,1,1,"0,3,8,7",60,/home/dcuser/dc_workshop/results/bam/SRR258486...,"182,0",1,ACCCCC
794,SRR2589044,CP000819.1,2103887,NaN,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG,225.0000,NaN,True,10.0,...,NaN,NaN,1,1,"0,0,1,9",60,/home/dcuser/dc_workshop/results/bam/SRR258904...,"255,0",1,ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG

In [9]:
from IPython.core.display import HTML
HTML(r"""
<style>
    * {
        #color: red;
        #font-family: ‘Cascadia Code PL’;#,‘Courier New’, Courier, monospace; 
        font-family: ‘Courier New’, Courier, monospace; 
        font-size: 10px !important;
        line-height: 1.1 !important;
    }
    .output-plaintext, .output-stream, .output {
        font-family: ‘Courier New’, Courier, monospace; # Any monospaced font should work
        line-height: 1.3 !important;
        font-size: 12px !important;
    }
</style>
""")

In [10]:
from Bio import Seq, pairwise2

type(df.loc[8]['ref'])
ref = df.loc[8]['ref']
alt = df.loc[8]['alt']

#refseq = Seq.Seq(ref)
#altseq = Seq.Seq(alt)

alignments = pairwise2.align.globalxx(ref,alt)

for alignment in alignments:
    print(pairwise2.format_alignment(*alignment))

ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG------------------------
||||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCA----G--------------------
|||||||||||||||||||||||||||||||    |
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAGCC----AG--------------------
||||||||||||||||||||||||||||||    ||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAGC---C-AG--------------------
|||||||||||||||||||||||||||||   | ||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAG-C--C-AG--------------------
|||||||||||||||||||||||||||| |  | ||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAGC----CAG--------------------
|||||||||||||||||||||||||||||    |||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAG-C---CAG--------------------
|||||||||||||||||||||||||||| |   |||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCAG----CCAG--------------------
||||||||||||||||||||||||||||    ||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCCA----GCCAG--------------------
|||||||||||||||||||||||||||    |||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGCC----AGCCAG--------------------
||||||||||||||||||||||||||    ||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGC---C-AGCCAG--------------------
|||||||||||||||||||||||||   | ||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAG-C--C-AGCCAG--------------------
|||||||||||||||||||||||| |  | ||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAGC----CAGCCAG--------------------
|||||||||||||||||||||||||    |||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAG-C---CAGCCAG--------------------
|||||||||||||||||||||||| |   |||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCAG----CCAGCCAG--------------------
||||||||||||||||||||||||    ||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCCA----GCCAGCCAG--------------------
|||||||||||||||||||||||    |||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGCC----AGCCAGCCAG--------------------
||||||||||||||||||||||    ||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGC---C-AGCCAGCCAG--------------------
|||||||||||||||||||||   | ||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAG-C--C-AGCCAGCCAG--------------------
|||||||||||||||||||| |  | ||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAGC----CAGCCAGCCAG--------------------
|||||||||||||||||||||    |||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAG-C---CAGCCAGCCAG--------------------
|||||||||||||||||||| |   |||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCAG----CCAGCCAGCCAG--------------------
||||||||||||||||||||    ||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCCA----GCCAGCCAGCCAG--------------------
|||||||||||||||||||    |||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGCC----AGCCAGCCAGCCAG--------------------
||||||||||||||||||    ||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGC---C-AGCCAGCCAGCCAG--------------------
|||||||||||||||||   | ||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAG-C--C-AGCCAGCCAGCCAG--------------------
|||||||||||||||| |  | ||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAGC----CAGCCAGCCAGCCAG--------------------
|||||||||||||||||    |||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAG-C---CAGCCAGCCAGCCAG--------------------
|||||||||||||||| |   |||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCAG----CCAGCCAGCCAGCCAG--------------------
||||||||||||||||    ||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCCA----GCCAGCCAGCCAGCCAG--------------------
|||||||||||||||    |||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGCC----AGCCAGCCAGCCAGCCAG--------------------
||||||||||||||    ||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGC---C-AGCCAGCCAGCCAGCCAG--------------------
|||||||||||||   | ||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAG-C--C-AGCCAGCCAGCCAGCCAG--------------------
|||||||||||| |  | ||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAGC----CAGCCAGCCAGCCAGCCAG--------------------
|||||||||||||    |||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAG-C---CAGCCAGCCAGCCAGCCAG--------------------
|||||||||||| |   |||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCAG----CCAGCCAGCCAGCCAGCCAG--------------------
||||||||||||    ||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCCA----GCCAGCCAGCCAGCCAGCCAG--------------------
|||||||||||    |||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGCC----AGCCAGCCAGCCAGCCAGCCAG--------------------
||||||||||    ||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGC---C-AGCCAGCCAGCCAGCCAGCCAG--------------------
|||||||||   | ||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAG-C--C-AGCCAGCCAGCCAGCCAGCCAG--------------------
|||||||| |  | ||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAGC----CAGCCAGCCAGCCAGCCAGCCAG--------------------
|||||||||    |||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAG-C---CAGCCAGCCAGCCAGCCAGCCAG--------------------
|||||||| |   |||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCAG----CCAGCCAGCCAGCCAGCCAGCCAG--------------------
||||||||    ||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCCA----GCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||||||    |||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGCC----AGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
||||||    ||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGC---C-AGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||||   | ||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAG-C--C-AGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||| |  | ||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAGC----CAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||||    |||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAG-C---CAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||| |   |||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACAG----CCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
||||    ||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

ACA----GCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|||    |||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

AC----AGCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
||    ||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

A---C-AGCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|   | ||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

--A-C-AGCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
  | | ||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

A----CAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
|    |||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32

--A--CAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG--------------------
  |  |||||||||||||||||||||||||||||||
ACAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAGCCAG
  Score=32